html,body {
    padding: 10px;
    background: #f2f3f5;
}
.layui-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.layui-layer-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
#form-artical,#form-edit {
    width: 100%;
    padding-right: 30px;
}